<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <h1>Strona o mnie hbs</h1>

    <h1>{{pageTitle}}</h1>
    <h2>{{subTitle}}</h2>
    <ul style="color:red">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ducimus iure explicabo inventore nulla. Saepe assumenda nulla expedita doloremque aliquid, temporibus, deleniti ratione qui est voluptates exercitationem iste quas pariatur eligendi quam beatae necessitatibus magni in esse? Temporibus quod consectetur saepe? Exercitationem accusamus minima eius magnam amet nihil placeat et deleniti similique, tempore perspiciatis numquam, laudantium inventore reiciendis quod, velit eveniet temporibus. Reiciendis enim error doloremque? Cumque ratione eaque dolorum exercitationem sapiente voluptates explicabo deleniti quo blanditiis architecto ducimus animi quisquam vel aspernatur, iste earum maxime tempora iure a? Suscipit at minus quas corrupti exercitationem rem consectetur repellat incidunt autem.</p>
    </ul>

    <a href="./">Przejdz do strony glownej</a>
    <script src="../js/func.js"></script>
</body>
</html>