<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <h2>{{subTitle}}</h2>
    <ul style="color:red">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>

    <input type="text"  id="val"></input>
    <button id="btn">Kliknij mnie</button>
    <div id="output"></div>


    <a href="/about">Przejdz do strony o mnie</a>
    <script src="../js/func.js"></script>
</body>
</html>